
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
}

.form-input{
  @apply block w-full rounded-sm border py-3 text-gray-900  px-3 placeholder-gray-400  border-[#CCCCCC] shadow-sm focus:outline-none focus:ring-primary focus:border-primary
}
.password-control {
  @apply py-3 px-3 w-full placeholder-gray-400 border-r-0 rounded-sm  rounded-l-sm border border-[#CCCCCC] shadow-sm focus:outline-none focus:ring-primary focus:border-primary;
}

.password-button {
  @apply bg-transparent rounded-r-sm px-3 py-3 focus:outline-none border-l-0 border border-[#CCCCCC] focus:ring-2 focus:ring-primary focus:border-transparent;
}